.galeria{
    padding: 50px 20px;
    text-align: center;
    background: #b6f5c3d7;
}

.galeria h2{
    color: #56c25b;
    margin-bottom: 30px;
}

.imagens{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.imagens img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.imagens img:hover{
    transform: scale(1.05);
}

.card:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}

button:hover{
    background: #1b5e20;
    transition: 0.3s;
}

/* MENU */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #1b5e20;
}

nav h2{
    color: white;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover{
    color: #c8f7c5;
}

/* BANNER */

.banner{
    text-align: center;
    color: white;
    padding: 80px 20px;
    background: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    );
}

.banner h1{
    font-size: 3rem;
    margin-bottom: 15px;
}

.banner p{
    font-size: 1.2rem;
}

/* ESTATÍSTICAS */

.estatisticas{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 50px 20px;
    background: white;
}

.numero{
    text-align: center;
    padding: 20px;
}

.numero h2{
    font-size: 2rem;
}

.numero h3{
    color: #2e7d32;
    margin: 10px 0;
}

/* EFEITOS */

.card{
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
}

.imagens img:hover{
    transform: scale(1.08);
}


